@charset "utf-8";
// Variables
$heading-color: #30abc9;
$text-color: #e0e0e0;

// Mixins
@mixin transparent-background($red, $blue, $green, $alpha, $color) {
	background-color: $color;
	background-color: rgb($red, $blue, $green);
	background-color: rgba($red, $blue, $green, $alpha);
}


/*Default CSS layout for narrow screens*/

html, body {
	background: #1a1a1a;
}

header {
	width: 100%;
	height: 50px;
	padding: 0; margin: 0;
	@include transparent-background(0, 0, 0, 0.75, #000);
	
	h1 {
		color: $heading-color;
		font-size: 16pt;
		display: inline-block;
		padding: 0;
		margin-top: 10px;
		margin-left: 15px;
	}
}


.jumbotron {

	p {
		color: black;
	}
}

p {
	color: $text-color;
	font-size: 14pt;
	line-height: 1.5;
}


#install-btn {
    background: #0088cc;
    text-align: center;
    display: inline-block;
    color: white;
    width: 75px;
    height: 100%;
    border: 1px solid #7aa7bd;
}

input {
	width: 100%;
}

.breach-results {
	list-style: none;
	padding: 0;

	li {
		padding: 15px;
		@include transparent-background(46, 46, 46, 0.75, #2e2e2e);
		margin-top: 15px;

		h3 {
			color: $heading-color;
		}

		h4 {
			color: lighten($heading-color, 20%);
		}

		.date {
			color: lighten($heading-color, 10%);
		}

		.stolen-item {
			display: inline-block;
			background: #434343;
			margin: 15px 15px 0 0;
			padding: 10px;
			font-size: 12pt;

		}
	}
}

.secure-email {
	width: 100%;
	text-align: center;
	color: $text-color;
	padding: 15px 5px;
	@include transparent-background(46, 46, 46, 0.75, #2e2e2e);

}


@media (min-width: 480px) {
  /*CSS for medium width screens*/
}

@media (min-width: 800px) {
  /*CSS for wide screens*/
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}